<ul class='nav nav-pills visible-all-inline-block pull-right'>
  <li><a class="button btn-outline" data-toggle="pill" href="#<%= tab %>-list">list</a></li>
  <li class="active"><a class="button btn-outline" data-toggle="pill" href="#<%= tab %>-masonry">masonry</a></li>
</ul>