<ul class='nav nav-pills visible-all-inline-block'>
  <li class="active"><a data-toggle="pill" href="#<%= tab %>-masonry">masonry</a></li>
  <li><a data-toggle="pill" href="#<%= tab %>-list">list</a></li>
</ul>