<ul class='nav nav-pills visible-all-inline-block view-type lg-border-bottom'>
  <li>
    <a class="btn" data-toggle="pill" href="#<%= tab %>-list">
      <span class="glyphicon glyphicon-list view-icon-list"></span>
      <span class="caption">List</span>
    </a>
  </li>
  <li class="active">
    <a class="btn" data-toggle="pill" href="#<%= tab %>-masonry">
      <span class="glyphicon glyphicon-gallery view-icon-gallery"></span>
      <span class="caption">Gallery</span>
    </a>
  </li>
</ul>