<table id="documents-table" class="table-hover">
  <thead>
    <tr>
      <th class="h4" scope="col">Collection Name</th>
      <% if controller.tab != controller.class::TABS[:my] %>
      <th class="h4" scope="col">Institution</th>
      <% end %>
      <th class="h4" scope="col">Items</th>
      <% if controller.tab == controller.class::TABS[:my] %>
      <th class="h4" scope="col"><span class="sr-only">Actions</span></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render collection: documents, as: :document, partial: 'index_tables', locals: {count: documents.count} %>
  </tbody>
</table>
