<%# Export collection modal #%>
<div class="modal collection-export-modal fade" id="collection-export-container">
  <div class="modal-dialog text-left">
      <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="col_export_title">
        <div class="modal-header">
          <span class="modal-title" id="col_export_title"><%= t("oregon_digital.collection.export_form.title") %></span>
          <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#collection-list-container" aria-label="close">&times;</button>
        </div>
        <div class="modal-body">
          <p>Your download may take some time to get ready for you, please be patient.</p>
          <%= link_to t(:'hyrax.collection.select_form.export'), '', class: 'btn btn-primary' %>
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
