<% institution = OregonDigital::InstitutionPicker.institution_full_name(document) %>
<tr class="my-collections-row">
  <th scope="row" class="col-lg-6 col-md-5">

    <b><%= link_to(document.title_or_label, url_for_document(document)) %></b>
    <% if controller.institution_restricted?(document.id) == true %>
      <span class="glyphicon glyphicon-lock"></span>
    <% end %>
  </th>
  <% if controller.tab != controller.class::TABS[:my] %>
  <td>
    <%= !institution.empty? ? institution : t('oregon_digital.explore_collections.list.row.institution.default') %>
  </td>
  <% end %>
  <td>
    <%= controller.total_viewable_items(document.id) %> <span class="hidden-md hidden-lg">items</span>
  </td>
  <% if controller.tab == controller.class::TABS[:my] %>
  <td>
    <%= render 'actions_list', collection: document %>
  </td>
  <% end %>
</tr>