<% institution = OregonDigital::InstitutionPicker.institution_full_name(document) %>
<tr class="my-collections-row">
  <th scope="row" class="col-lg-6 col-md-5">
    <b><%= link_to(document.title_or_label, url_for_document(document), document_link_params(document, :counter => document_counter_with_offset(document_counter))) %></b>
  </th>
  <% if controller.tab != controller.class::TABS[:my] %>
  <td>
    <%= !institution.empty? ? institution : t('oregon_digital.explore_collections.list.row.institution.default') %>
  </td>
  <% end %>
  <td>
    <%= controller.total_viewable_items(document.id) %> <span class="hidden-md hidden-lg">items</span>
  </td>
  <% if controller.tab == controller.class::TABS[:my] %>
  <td>
    <%= render 'actions_list', collection: document %>
  </td>
  <% end %>
</tr>