<table id="explore-collection-table" class="display" style="width:50%" role="presentation">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% collections.in_groups_of(6, false).each do |collection_group| %>
        <tr>
          <% collection_group.fill("", collection_group.length .. 5).each_with_index do |collection, i| %>
            <td>
              <div class="masonry document text-center col-xs-6 col-md-3">
                <%= render 'showcase_tile',
                    title: collection.title_or_label,
                    count: controller.total_viewable_items(collection.id),
                    link: [hyrax, collection],
                    img: render_thumbnail_tag(collection, {alt: ''}, { suppress_link: true }) unless collection.is_a?(String) %>
              </div>
              <% if tab == controller.class::TABS[:my] %>
                <%= render 'oregon_digital/explore_collections/actions_list', collection: collection, i: i, view: 'masonry' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table> 