<!-- Target -->
<input id="<%= id %>-link" value="https://github.com/zenorocha/clipboard.js.git">

<!-- Trigger -->
<button class="copy-single-use-link btn" data-clipboard-target="#<%= id %>-link" data-clipboard-action="copy" data-toggle="tooltip" data-placement="bottom" title="Copied!">
  Copy
</button>