<div class="thumbnail">
  <%= link_to link do %>
    <%= img %>
    <div>
      <h3 class="visible-all-inline-block"> <%= title %> </h3>
      <span class="dark-grey"><%= "(#{count} items)" %></span>
    </div>
  <% end %>
</div>
