<div class='flex-container'>
  <div class="flex-item hidden-xs"><hr class="lime-green-hr"></div>
  <div class="flex-item" >
    <%= yield %>
  </div>
  <div class="flex-item hidden-xs"><hr class="lime-green-hr"></div>
</div>