<div class='row'>
  <div class="col-sm-1"></div>
  <div class="col-sm-4"><hr class="lime-green-hr"></div>
  <div class="col-sm-2" ><a href="<%= buttonLink %>" class='btn btn-primary collection-landing-button'><%= buttonText %></a></div>
  <div class="col-sm-4"><hr class="lime-green-hr"></div>
  <div class="col-sm-1"></div>
</div>