<ol class="collection-highlights">
    <% collections.each do |collection| %>
      <li class="recent-item col-md-2">
        <h3>
          <%= link_to [hyrax, collection] do %>
            <%= render_thumbnail_tag(collection, {}, { suppress_link: true }) %>
            <p><%= collection.title_or_label %></p>
          <% end %>
        </h3>
      </li>
    <% end %>
</ol>
