<div id="preface" class="row">
  <div class="col-sm-3">
    <!-- Add university badges -->
  </div>
  <div class="col-sm-6">
    <p>
      The collections of Oregon Digital are primarily created to support the teaching and research missions of the University of Oregon and Oregon State University.
      The collections are comprised of unique digitized and born-digital materials including photographs, articles, sheet music, manuscripts, ephemera, and more.
      Oregon Digitial is collaboratively managed by the Digital Scholarhsip Services of the University of Oregon Libraries and by Oregon State University Libraries.
    </p>
  </div>
  <div class="col-sm-3">
    <!-- Add educators and researchers buttons -->
    <a class="btn btn-primary btn-lg pull-right">For Educators</a>
    <a class="btn btn-primary btn-lg pull-right">For Researchers</a>
  </div>
</div>

<div class="row">
  <h2>Latest Collections</h2>
  <%= render 'explore_collections', collections: @presenter.collections %>
  <a class="btn btn-primary btn-lg pull-right">All Collections</a>
</div>

<div class="row">
  <h2>Latest Items</h2>
  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  <a class="btn btn-primary btn-lg pull-right">All Latest Items</a>
</div>
