<div id="preface" class="row">
  <div class="col-sm-3">
    <!-- @TODO: Add university badges -->
  </div>
  <div class="col-sm-6">
    <p>
      The collections of Oregon Digital are primarily created to support the teaching and research missions of the University of Oregon and Oregon State University.
      The collections are comprised of unique digitized and born-digital materials including photographs, articles, sheet music, manuscripts, ephemera, and more.
      Oregon Digitial is collaboratively managed by the Digital Scholarhsip Services of the University of Oregon Libraries and by Oregon State University Libraries.
    </p>
  </div>
</div>

<div id="showcase" class="row">
  <h2 class="text-center"><%= t('hyrax.product_name') %> Showcase</h2>
  <%= render 'fixed_showcases', collections: @presenter.collections %>
  <%= render 'curated_showcases', collections: @presenter.collections %>
</div>
