<% if display_content_block? @marketing_text %>
  <div class="home_marketing_text">
    <%= displayable_content_block @marketing_text, class: 'offset-md-2 col-md-9 offset-lg-1 home_marketing_text' %>
  </div>
<% end %>
