<% provide :page_title, application_name %>

<div class="home_share_work row">
  <div class="col-sm-12 text-center">
  </div>
</div>

<div class="home-content">
  <%= render 'home_content' %>
</div>

<%= render '/shared/select_work_type_modal', create_work_presenter: @presenter.create_work_presenter if @presenter.draw_select_work_modal? %>
