<% facets = ["non_user_collections_ssim",  "copyright_combined_label_sim", "date_combined_year_label_ssim", "institution_label_sim",  "language_label_sim"]%>
<div class="advanced-facet-limits panel-group">
    <%= render_facet_partials facets %>
</div>