<% @page_title = "Advanced Search - #{application_name}" %>

<div class="advanced-search-form col-sm-12">

    <h1 class="advanced uppercase text-center">
        Search Oregon Digital
    </h1>

    <div class="row">

        <div class="col-md-8">
            <%= render 'advanced_search_form' %>
            <%= render 'advanced_search_help' %>
        </div>
        <div class="col-md-4">
            <%= render 'advanced_search_sidebar' %>
        </div>

    </div>

</div>