<p>Dear <%= @accessibility_form.name %>,</p>
<p>Thank you for requesting an accessible copy of this item. We have received your request and are working on remediation, and will email a copy to you as soon as possible. If you have any questions, please contact us at oregondigitalref@uoregon.edu.</p>

<br/>

<p>From,</p>
<p>Oregon Digital Team</p>
