<% provide :page_header do %>
  <h1><span class="fa fa-sitemap"></span><%= t('oregon_digital.oembeds.index.manage_oembeds') %></h1>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render "list_oembeds" %>
  </div>
</div>
