<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    There are items that need your attention in Oregon Digital: <%= @message %>
    - Oregon Digital Support
  </body>
</html>
