// CSS: A stylize CSS for the how-to use page
.subhead_label {
  font-size: 18px;
  font-style: italic;
}

.desc_label {
  font-size: 15px;
}

// TABLE OF CONTENTS: Setup the layout for table of contents
.use_toc { 
  list-style-type: none;
  counter-reset: item;
  margin: 0px;
  padding: 0px; 
}

.use_toc li { 
  display: table;
  counter-increment: item;
  margin-bottom: 15px;
  
  li {
    margin: 0 0 10px 0;
  }

  li:before {
    content: counters(item, ".") " ";
  }
}

// LIST: Format numbering on the table of content
.use_toc li:before { 
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.8em; 
}

// SCROLL: Make the scrolling when click on link smooth for document
.use_page {
  scroll-behavior: smooth;
}