<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your export is ready</h1>
    <p>
     An export for <%= @subject %> is available at:&nbsp;
     <%= @url %>
    </p>
  </body>
</html>
