.actions.flex-list {
  position: relative;
  margin: 0;
  overflow: hidden;

  ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    @media (max-width: $screen-sm-max) {
      & {
        background: $very-light-grey;
        border-radius: .25em;
        padding: .5em 0;
      }
    }

    li {
      flex-grow: 1;
      flex-basis: auto;
      margin: 0;
      text-align: right;
      list-style: none;
      input {
        vertical-align: middle;
      }
      @media (max-width: $screen-sm-max) {
        & {
          border-right: 3px solid $light-grey;
          text-align: center;
        }
      }
      @media (min-width: $screen-sm-max) {
        & {
          max-width: 75px;
          width: 5%;
        }
      }
    }
    li:last-child {
      border-right: none;
      display: flex;
      min-width: 320px;
      padding-left: 0.25em;
      text-align: left;
      input {
        width: 100%;
        height: 1.5em;
      }

      @media (max-width: $screen-sm-max) {
        & {
          flex-basis: 100%;
          flex-wrap: wrap;
        }
        input {
          flex-basis: 100%;
          margin: 1em .75em
        }
      }
    }
    li:nth-last-child(2) {
      border-right: none;
    }
  }
}

/* Masonry specifc */
.masonry.document.collection {
  .actions.flex-list {
    ul {
      background: $very-light-grey;
      border-radius: .25em;
      justify-content: center;
      padding: .25em .25em;
      li {
        border-right: 3px solid $light-grey;
        margin: .1em 0;
        max-width: unset;
        min-width: unset;
        text-align: center;
        width: 33%;
        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
          width: unset;
        }
      }
      li:last-child {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 100%;
        input,button {
          margin: .25em .25em;
          padding: .5em .25em;
          width: 100%;
        }
      }
      li:nth-last-child(-n+3) {
        border-right: none;
      }
    }
  }
}