#explore-tabs {
  ul, li {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
  }
}

#explore-panes {
  ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 5px 5px 15px;
  }
}