#explore-tabs {
  ul.nav, ul.nav li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-pills > li {
    margin: 0;
    margin-bottom: 1em;
  }
}

#explore-panes {
  ul.nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 5px 5px 5em;
    padding-bottom: 2em;
  }

  .nav-pills > li > div > a {
    border-radius: 5px !important;
    padding: 2px 10px;
    font-size: 16px;
  }

  .actions {
    margin: 0;
    margin-top: 16px;
    padding: 16px;
    background-color: $very-light-grey;
  }
}

#explore-tabs,
#explore-panes {
  .nav-pills > li.active > div > a,
  .nav-pills > li.active > div > a:hover,
  .nav-pills > li.active > div > a:focus {
    background-color: $contrast-orange;
    border: 3px solid $contrast-orange;
    color: $navy-blue;
  }
}

#explore-tabs,
#explore-panes {
  .nav-pills > li.active > div > .notch {
    visibility: visible;
  }
}

$block-foreground: #fff0;
$block-background: $contrast-orange;
$block-border-size: 2.5px;
$triangle-border-color: $block-foreground;
$triangle-face-color: $block-background;
$triangle-size: $block-border-size*4;

.notch {
  display:block;
  width:$triangle-size*2;
  height:$triangle-size*2;
  overflow:hidden;
  position:relative;
  visibility: hidden;
}
.notch::before,
.notch::after {
  box-sizing:border-box;
  display:block;
  content:"";
  width:0;
  height:0;
  border:solid $triangle-size $triangle-border-color;
  position:absolute;
  top:0;
  transform:rotate(45deg);
}
.notch::before {
  left:-($triangle-size + $block-border-size);
}
.notch::after {
  border-color:$triangle-face-color;
  left:-($triangle-size + $block-border-size*2);
}

/* Notch on Bottom Middle */
.notch-xMiddle-yBottom {
  left:50%;
  transform:rotate(90deg) translateY(50%);
}

@media (min-width: breakpoint-min(md)) {
  $block-border-size: 5px;
  $triangle-size: $block-border-size*4;
  .notch {
    width:$triangle-size*2;
    height:$triangle-size*2;
  }
  .notch::before,
  .notch::after {
    border:solid $triangle-size $triangle-border-color;
  }
  .notch::before {
    left:-($triangle-size + $block-border-size);
  }
  .notch::after {
    border-color:$triangle-face-color;
    left:-($triangle-size + $block-border-size*2);
  }

  #explore-tabs a {
    height: 55px;
    width: 150px;
  }
}

.hover-hide:hover, .hover-hide:focus {
  background-color: lightgrey;
  td > div > .hidden {
    display: inline !important;
  }
}