#explore-panes .masonry.document {
  padding-top: 2em;
  border-top: 3px solid $very-light-grey;
  background-color: unset;
  width: 215px;
}

.lime-green-hr {
  border: 2px solid $lime-green;
  color: $lime-green;
}

.collection-landing-button {
  width: 100%;
  margin-top: -8px;
}

.collection-search-header {
  margin: 2.5em 0;
}
