form#explore-collection-search {
  display: inline-block;
  vertical-align: top;

  .input-group {
    margin-bottom: 0;

    button {
      position: absolute;
      right: 0;
      z-index: 10;
      background: unset;
      border: unset;
      width: 2.25em;
      height: calc(100% - 16px);
      margin-top: 8px;
      margin-bottom: 8px;
      border-left: 1px solid $light-grey;
    }

    input {
      background-color: $very-light-grey;
      border-radius: 0;
      padding-right: 2.5em;
      font-size: 1.25em;
      height: 2em;
    }
  }
}

#sortAndPerPage.explore-collections-per-page {
  padding: 2em 0 1em 0;

  @media (max-width: breakpoint-max(sm)) {
    & {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  .explore-collections-result-count {
    margin: 0;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2em;

    @media (max-width: breakpoint-max(md)) {
      & {
        display: block;
      }
    }
  }

  .explore-collections-search-widgets {
    @media (max-width: breakpoint-max(md)) {
      & {
        display: flex;
        flex-direction: column;
        float: left !important;
      }
    }

    @media (min-width: breakpoint-max(md)) {
      transform: 0 15%;
    }

    .search-widgets {
      display: inline-block;
      text-align: left;

      #per_page-dropdown {
        margin-right: 1.5em !important;
        margin-top: 0;
      }

      .btn-group .dropdown-toggle:focus {
        outline: 2px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
        outline: -2px;
      }

      .dropdown-item {
        font-size: 14px;
      }
    }
  }
}

.view-type .btn-default {
  background-color: $very-light-grey;
  border-radius: 5px !important;
  border: none;
  box-shadow: none;
  padding: .2em .25em;
  padding-top: 0;
  font-size: 18pt;
  color: $navy-blue !important;
  &.active {
    background-color: $contrast-orange !important;
  }
  &.view-type-gallery,
  &.view-type-masonry {
    margin-left: .5em;
  }
}

.very-light-grey-hr {
  border: 1px solid $very-light-grey;
  color: $very-light-grey;
  margin: auto;
  width: 100%;
}

.lime-green-hr {
  border: 2px solid $lime-green;
  color: $lime-green;
  margin: auto;
  width: 100%;
}

.collection-landing-button {
  width: 100%;
  margin: -8px 15px 0px 0px;
}