form#explore-collection-search {
  display: inline-block;
  vertical-align: top;

  .input-group {
    margin-bottom: 0;

    button {
      position: absolute;
      right: 0;
      z-index: 10;
      background: unset;
      border: unset;
      width: 2.25em;
      height: calc(100% - 16px);
      margin-top: 8px;
      margin-bottom: 8px;
      border-left: 1px solid $light-grey;
    }

    input {
      background-color: $very-light-grey;
      border-radius: 0;
      padding-right: 2.5em;
      font-size: 1.25em;
      height: 2em;
    }
  }
}

#sortAndPerPage.explore-collections-per-page {
  padding: 2em 0 1em 0;

  @media (max-width: breakpoint-max(xs)) {
    & {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  .explore-collections-result-count {
    margin: 0;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2em;

    @media (max-width: breakpoint-max(sm)) {
      & {
        display: block;
      }
    }
  }

  .explore-collections-search-widgets {
    @media (max-width: breakpoint-max(sm)) {
      & {
        float: left !important;
      }
    }

    @media (min-width: breakpoint-max(sm)) {
      transform: 0 15%;
    }

    .search-widgets {
      display: inline-block;

      #per_page-dropdown {
        margin-right: 1.5em;
        margin-top: 0;
      }
    }
  }
}

.very-light-grey-hr {
  border: 1px solid $very-light-grey;
  color: $very-light-grey;
  margin: auto;
  width: 100%;
}

.lime-green-hr {
  border: 2px solid $lime-green;
  color: $lime-green;
  margin: auto;
  width: 100%;
}

.collection-landing-button {
  width: 100%;
  margin: -8px 15px 0px 0px;
}