table#documents-table {
  width: 100%;
  thead th {
    padding: 2em 0;
    @media (max-width: breakpoint-max(md)) {
      & {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    }
  }
  tbody tr {
    margin: .5em 0;
    width: 100%;
    td {
      padding: 0.25em 0;
    }
    b {
      font-weight: bold;
    }
    @media (max-width: breakpoint-max(md)) {
      &, th, td {
        display: block;
      }
      & {
        margin: 0.75em 0;
        float: left;
      }
      &:first-child {
        margin-top: 1.5em;
      }
      th {
        max-width: 100%;
        font-size: 30px;
        padding: 0;
      }
    }
  }
}
