<div id="sidebar" class="col-md-3 col-sm-4 col-xs-12">

<h2> First time here? </h2>
<ul class="single-value-input">
  <li><a href="about">About Oregon Digital</a></li>
  <li><a href="mission">Mission and Vission</a></li>
  <li><a href="use">How to Use This Website</a></li>
  <li><a href="privacy">Privacy Policy</a></li>
  <li><a href="terms">Terms of Use</a></li>
</ul>
<h2> Dig deeper </h2>
<ul class="single-value-input">
  <li><a href="copyright">Copyright and Usage Requirements</a></li>
  <li><a href="harmful">Harmful Language Statement</a></li>
  <li><a href="takedown">Take-Down Policy</a></li>
</ul>
<h2> Collection development policy </h2>
<ul class="single-value-input">
  <li><a href="uo">University of Oregon</a></li>
  <li><a href="osu">Oregon State University</a></li>
</ul>

</div>