<h2>Accessibility Statement</h2>
<p>Oregon Digital creates and collects digital content. We strive to achieve WCAG 2.1 AA standards or higher on all digital materials that we create. In general, users should expect:
</p>

<ul>
  <li><p>The ability to use a screen reader on our website</p></li>
  <li><p>The ability to navigate without needing a mouse</p></li>
  <li><p>A seamless way to request assistance with any item</p></li>
</ul>

<p>We also provide digital access to our unique archival materials. New digital creations meet WCAG 2.1 AA standards; and staff are remediating materials that were digitized previously.</p>
<p>To report an accessibility issue or concern with the website, please complete the form at <a href="https://oregondigital.org/contact" target="_blank">https://oregondigital.org/contact</a>.</p>

<h3>Obtaining Accessible Copies</h3>
<p>We are aware that not all items in the repository are fully accessible to all of our users at this time, and we are working hard to correct this problem.</p>
<p>To request assistance with an item, please complete the form <%= link_to 'here', :accessibility_copy_request, class: "#{current_page?(accessibility_copy_request_path) ? 'active' : nil}" %>. You will be contacted within 4 business days regarding your needs.</p>

<h3>Regulations and Guidelines</h3>

<h4>Americans with Disabilities Act Title II Regulations</h4>
<p>"The ADA broadly protects the rights of individuals with disabilities in employment, access to State and local government services, places of public accommodation, transportation, and other important areas of American life. The ADA also requires newly designed and constructed or altered State and local government facilities, public accommodations, and commercial facilities to be readily accessible to and usable by individuals with disabilities.</p>
<p>Title II...applies to State and local government entities, and...protects qualified individuals with disabilities from discrimination on the basis of disability in services, programs, and activities provided by State and local government entities." </p>
<p>Summary from Title II Regulations Supplementary Information <br/> <a href="https://www.ada.gov/law-and-regs/regulations/title-ii-2010-regulations/" target="_blank">https://www.ada.gov/law-and-regs/regulations/title-ii-2010-regulations/</a></p>

<br/>

<h4>WCAG 2.1 AA</h4>
<p>"Web Content Accessibility Guidelines (WCAG) 2.1 defines how to make web content more accessible to people with disabilities. Accessibility involves a wide range of disabilities, including visual, auditory, physical, speech, cognitive, language, learning, and neurological disabilities. Although these guidelines cover a wide range of issues, they are not able to address the needs of people with all types, degrees, and combinations of disability. These guidelines also make web content more usable by older individuals with changing abilities due to aging and often improve usability for users in general."</p>
<p>Summary from the Web Content Accessibility Guidelines (WCAG) 2.1, Background on WCAG 2 <br/> <a href="https://www.w3.org/TR/WCAG21/" target="_blank">https://www.w3.org/TR/WCAG21/</a></p>
