<h2>Accessibility Copy Request</h2>

<%# RENDER: Render the form to fill out the form of the accessibility copy form on the about page %>
<%= render partial: 'oregon_digital/accessibility_copy_form/partial_accessibility_form', locals: { accessibility_form: OregonDigital::AccessibilityCopyForm.new } %>
