<h2>Copyright and Usage Requests</h2>

<p>
Can I use it? This is perhaps the most common question that our public services archivists receive from researchers conducting work in Oregon Digital. More often than not, the answer to this question is yes, but there are multiple factors that inform whether or not an item can be used and in what ways.
</p>

<p>
It’s important to know that the description provided for every item in Oregon Digital will include information about its copyright status.
<figure role="group"> <figcaption> These details are visible on search results pages, both for the results themselves and in the Copyright facet. </figcaption> <%= image_tag('copyrightExample1.jpg', style: 'width:100%', alt: "") %> </figure>
</p>

<br>
<p> This information can also be found on the item page for a given digital object. On an item’s page, copyright status is indicated in two locations:
<figure role="group"> <figcaption>Above the item viewer on the right hand side, and in the Details tab below the item viewer (look for the fields labeled ‘Rights’ and/or ‘License’).</figcaption> <%= image_tag('copyrightExample2.jpg', style:'width:100%', alt:'') %> </figure>
</p>

<p>
Thousands of items in Oregon Digital have been released into the public domain, meaning that there are no copyright considerations connected to them and researchers are free to use them however they wish. Many more items however, are governed by copyright stipulations or particular Creative Commons licenses, and in these cases it will be necessary for a user to contact one of our repositories (SCARC at Oregon State University Libraries or SCUA at University of Oregon Libraries) to learn more.
</p>

<p>
<figure role="group"> <figcaption>To get ahold of one of these repositories, simply click on the Contact Us tab located underneath the viewer on an item’s page.</figcaption> <%= image_tag('copyrightExample3.jpg', style:'width:100%', alt:'') %> </figure> Complete the Contact Us form and be sure to select the “Copyright/Permissions” option from the Issue Type menu bar. Once your message is submitted, an archivist or librarian will respond with more information about any restrictions that might be associated with the item, and will provide additional guidance about how best to move forward.
</p>

<p>
In many cases, all that will be asked of the user is that they complete a form specifying the details of their intended use and acknowledging the responsibilities that they are assuming in doing so. In certain other cases, additional considerations might be attached to a patron’s use, including required fees.
</p>