<h2>Harmful Content Statement</h2>
<p>Oregon Digital contains some content and descriptive language that may be harmful or difficult to view. This content and the language used to describe it may include overt expressions of bigotry or bias, outdated cultural or geographical references, or stereotypes. We acknowledge that this impacts those accessing our collections and has the potential to perpetuate systemic discrimination and cultural bias. In providing access to these historical materials, Oregon State University Libraries and Press and the University of Oregon Libraries do not endorse any attitudes, prejudices, or behaviors contained therein.</p>

<h3>Frequently Asked Questions</h3>
<p>What potentially harmful or difficult content is present in Oregon Digital?</p>

<p>Some items may:</p>
<ul>
  <li>reflect white supremacist and American imperialist ideologies, which include racist, sexist, misogynistic/misogynoir, and xenophobic opinions and attitudes.</li>
  <li>be discriminatory towards or exclude diverse views on sexuality, gender, ableism, religion, and more.</li>
  <li>include graphic content of historical events such as violent death, medical procedures, crime, post mortem photography, wars and terrorist acts, natural disasters and more.</li>
  <li>demonstrate bias and exclusion in institutional collecting and digitization policies.</li>
</ul>

<h3>Where does this content come from?</h3>
<p>Oregon Digital was primarily created to support the teaching and research missions of the University of Oregon and Oregon State University. Collections originate from local, state, and national partnerships, university archives and special collections, museums, and individual donors. Content creators and original collectors often provided descriptions that accompanied the materials. In addition, professional staff enhance and expand these descriptions according to established cataloging rules and best practices.</p>

<h3>Why are harmful terms and descriptions used?</h3>

<p>Harmful terms and descriptions are present in the collection for several reasons, including:</p>
<ul>
  <li>Communities with less access to and privilege within libraries and archives have had less control over how they are represented and described.</li>
  <li>Librarians and archivists choose what language to use when describing materials. Some of these descriptions were written many years ago, using language that was accepted at the time.</li>
  <li>Librarians and archivists often re-use language provided by creators or former owners of the material. This can provide important context, but can also reflect biases and prejudices.</li>
  <li>Librarians and archivists often use a standardized set of terms, such as the Library of Congress Subject Headings, to describe materials. Some of these terms are outdated, offensive, or insensitive.</li>
  <li>Librarians and archivists sometimes make mistakes or use poor judgement and also carry conscious and unconscious bias into their work.</li>
</ul>

<h3>Why does Oregon Digital include potentially harmful content?</h3>

<p>Oregon Digital preserves and presents these materials as part of the historic record, which does include depictions and records of people experiencing trauma and harm. Librarians, archivists, and curators seek to balance the preservation of this history with sensitivity to how these materials are presented to and perceived by users.</p>

<h3>How are librarians and archivists working to address this problem and help users better understand such content?</h3>

<ul>
  <li>Listening to users, researching the problem, experimenting with solutions, and consulting and sharing our findings with our professional communities.</li>
  <li>Identifying the harmful content and descriptions present in Oregon Digital.</li>
  <li>Informing users about the presence and origin of harmful content.</li>
  <li>Working directly with misrepresented and underrepresented communities to improve the ways they are represented.</li>
  <li>Revising descriptions and standardized sets of descriptive terms, such as Library of Congress Subject Headings, supplementing description with more respectful terms, or creating new standardized terms to describe materials.</li>
  <li>Evaluating existing collecting and digitization policies for exclusionary practices and institutional biases that prioritize one culture and/or group over another.</li>
  <li>Making institutional commitments to DEIA (diversity, equity, inclusion, and accessibility).</li>
  <ul>
    <li><%= link_to 'UO Libraries’ Statement On Racism and Systemic Inequalities', 'https://library.uoregon.edu/node/7354', target:'_blank' %></li>
    <li><%= link_to 'Oregon State University Library and Press Call To Action', 'https://library.oregonstate.edu/sites/default/files/osulp_call_to_action_060420_1.pdf', target:'_blank' %></li>
  </ul>
</ul>

<h3>How can I report harmful content?</h3>
<p>You can help us understand these issues and find solutions by reporting harmful content and language using the Contact Us tab on individual works or using the link in the site footer. Submissions may be made anonymously. The institution responsible for publishing the work will collaborate with our partners to flag, change or remove the content, weighing potential harm against considerations such as the accurate preservation of the historical record, best practices, and allocation of available resources. All reports will be used to further understand these issues and educate ourselves and our partners.</p>
<br />
<i>This statement was adapted from <%= link_to 'DPLA’s Statement on Potentially Harmful Content', 'https://dp.la/about/harmful-language-statement', target:'_blank' %>.</i>
