    <h2> Mission and Vission </h2>

    <h3> Mission </h3>

    <p>
    Oregon Digital is a cooperative effort of University of Oregon and Oregon State University Libraries that gives its users access to unique online collections of enduring value. Users will find key multimedia resources on Oregon history, culture and life as well as on broader topics and geographies that align with the collection strengths of each of our institutions.
    </p>

    <h3> Guiding principles </h3>

    <ul>
      <li> Open Access
        <ul>
          <li>
            Oregon Digital is committed to building highly usable and accessible digital collections to make resources available to as wide a range of researchers, scholars, students, and the general public as possible.
          </li>
        </ul>
      </li>
      <li> Collaboration
        <ul>
          <li>
            We believe in the exponential power of working with other cultural heritage institutions to advocate for and develop systems based on open source solutions.
          </li>
        </ul>
      <li> Contextualization
        <ul>
          <li>
            Oregon Digital adds value to our cultural heritage materials and contributes to our collective knowledge by providing historical context documentation, and enhanced description to reflect a more inclusive and equitable society.
          </li>
        </ul>
      </li>
      <li> Rich Description
        <ul>
          <li>
          Our descriptive metadata follows international standards and best practices, and utilizing the Resource Description Framework (RDF) and linked open data sources, we share our collections with discovery and re-use in mind, expressing our commitment to diversity and inclusivity and ensuring access for future generations.
          </li>
        </ul>
      </li>
      <li> Copyright
        <ul>
          <li>
            Oregon Digital is committed to respecting copyright law and the rights of intellectual property owners and encourages the re-use of our collections by providing a clear rights statement on every item, promoting fair use, and advocating for open access to historical materials.
          </li>
        </ul>
      </li>
      <li> Digital Preservation
        <ul>
          <li>
            We use a combination of policies, strategies, and best practices to ensure ongoing access to Oregon Digital content.
          </li>
        </ul>
      </li>
    </ul>

    <h3> VISION </h3>
    <p>Oregon Digital will:</p>
    <ul>
      <li> Exemplify a collaborative digital library </li>
      <li> Enable access to collections for teaching, research and community interest </li>
      <li> Actively Enrich cultural discourse </li>
      <li> Engage historical imagination through our collections, experts, and tools </li>
      <li> Energize vibrant scholarly inquiry </li>
      <li> Expand partnerships across the state of Oregon </li>
      <li> Ensure inclusive and equitable representation in our collections, description, and context </li>
    <ul>