<h2> Oregon Digital Privacy Statement </h2>

<h3> Commitment to Individual Privacy </h3>
<p>
  The University of Oregon and Oregon State University libraries respect each Oregon Digital user’s right to privacy and confidentiality regarding information sought or received; resources consulted, borrowed, acquired or transmitted; and services used. This statement conforms to the privacy policies of each library.
</p>

<p>
  We collect, use, and share information obtained from online visitors in the following ways:
</p>

<ul>
  <li>We collect personal information when you voluntarily create an account or use your institutional account</li>
  <li>We use personal information only to provide personalized services to you</li>
  <li>We do not disclose personal information to outside parties</li>
  <li>We have safeguards in place to protect the information collected</li>
  <li>We do not actively share personal information gathered</li>
</ul>

<p>
  Oregon Digital relies on Google Analytics and is subject to the <%= link_to 'Google Analytics Privacy Policy', 'https://policies.google.com/technologies/partner-sites', target:'_blank' %>.
</p>

<h3> Types of Information Collected </h3>
<p>
  We collect the following types of information about our website users:
</p>

<ul>
  <li>Automatically Collected Information</li>
  <li>Information Collected for Customization and Metrics</li>
  <li>Personal Information</li>
</ul>

<h3> Automatically Collected Information </h3>
<p>
  We automatically collect and store the following non-personally identifiable information:
</p>

<ul>
  <li>The name of the domain (ex: Verizon.net, Comcast.net) used to access the internet</li>
  <li>The Internet Protocol address which can reveal cities, states, and countries where web visits originated</li>
  <li>The date, time and duration of each website visit</li>
  <li>The URLs of pages visited and files downloaded from Oregon Digital, and related performance and reliability data</li>
  <li>If present and available, the internet address of the website visited before Oregon Digital’s website</li>
  <li>Characteristics of devices used to visit Oregon Digital, such as operating system, web browser, and screen resolution</li>
  <li>Search terms used to find our website (in aggregate only, not linked to the user), and</li>
  <li>Search terms used while on the website</li>
</ul>

<p>
  This information allows us to improve website design, presentation and system performance. We collect this information from anyone who visits, browses, or downloads information from Oregon Digital.
</p>

<h3> Information Collected for Customization and Metrics </h3>
<p>
  To help provide website users with the best experience possible, we use Google Analytics to report and analyze aggregated web metrics data. The raw data is retained for 50 months to help improve website performance.
</p>
<p>
  The My Collections feature allows you to voluntarily provide information to personalize and improve your online experience and this information is retained.
</p>
<p>
  Oregon Digital uses session cookies and persistent cookies through our application and Google Analytics. “Cookies” are small files that websites transfer to users’ computers to allow the site to remember specific information. A pop-up dialog box will ask if you want to accept the cookies. If you do not want cookies transferred to your computer, you may <%= link_to 'change your browser options', 'https://www.usa.gov/optout-instructions', target:'_blank' %>. Without cookies, Oregon Digital will continue to display normally, but certain features may not work as well or may be unavailable.
</p>

<h3> Personal Information </h3>
<p>
  In order to access certain parts of the site or to use customization features, Oregon Digital will require you to log in with your institutional authentication or a valid email address. From this information, only the email address is stored. We use this information to manage your account, communicate with you, and provide personalized services to you. Oregon Digital will not collect any further personal information from your use of the site unless you choose to provide it in correspondence with support staff.
</p>
<p>
  If you use the contact form or the accessible copy request form, we will retain your submitted form with the information submitted. Retention of this information will be consistent with the retention policy of the owning institution.
</p>
<p><a href="https://policy.oregonstate.edu/UPSM/04-010_records_retention" target="_blank">Oregon State University</a></p>
<p><a href="https://recordsmanagement.uoregon.edu/rrs" target="_blank">University of Oregon</a></p>

<h3> Questions? </h3>
<p>
  If you have questions about this privacy policy, please <%= link_to 'contact us', 'https://oregondigital.org/contact?locale=en', target:'_blank' %>.
</p>
