<h2>Viewing Oregon Digital</h2>

<p> If you are having trouble with the viewing of Oregon Digital, below are some tip & tricks to help you have a better experience with Oregon Digital </p>

<br/>

<h3> Mac </h3>
<p> 
  On a Mac, we recommend not to use Safari due to some bugs that may cause the display of Oregon Digital not to be optimize. Below are a list of different browser you can give a try to make the 
  experience better.
</p>

<h4>Mac Browser Recommendation List:</h4>
<ul>
  <li><a href="https://www.microsoft.com/en-us/edge?ep=194&form=MA13L3&es=40" target="_blank">Microsoft Edge</a></li>
  <li><a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a></li>
  <li><a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a></li>
</ul>

<br/>

<h3> Windows </h3>
<p> 
  On a Windows, we recommend to use Edge and not to use IE (Internet Explorer, and this is deprecated). Below are a list of different browser you can give a try to make the 
  experience better.
</p>

<h4>Windows Browser Recommendation List:</h4>
<ul>
  <li><a href="https://www.microsoft.com/en-us/edge?ep=194&form=MA13L3&es=40" target="_blank">Microsoft Edge</a></li>
  <li><a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a></li>
  <li><a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a></li>
</ul>