<h2>Terms of Use</h2>

<p>Access has been provided to digital objects that have met one of the following criteria:</p>

<ul>
  <li>Item is in the public domain</li>
  <li>Rights are owned by Oregon State University or the University of Oregon</li>
  <li>Oregon State University Libraries & Press or University of Oregon Libraries has permission to make the object accessible</li>
  <li>Access to the item has been provided for educational and research purposes as a legal fair use</li>
</ul>

<p>For objects where OSU or UO is not the copyright holder, it is the responsibility of the user to determine the copyright status and seek permission from the rights owner(s) where appropriate. Items in the public domain may be used freely and without restrictions. Concerning items for which Oregon State University is the copyright holder, please contact the <%= link_to 'Special Collections and Archives Research Center', 'https://scarc.library.oregonstate.edu', target:'_blank' %> for permission to use. </p>

<p>Each object in Oregon Digital has a rights statement identifying how the object may be re-used beyond Oregon Digital. We also encourage Fair Use of our materials whenever possible. If you can’t access an object to view its Rights statement, then it has been restricted to the UO, OSU, or both campuses. Please familiarize yourself with <%= link_to 'Oregon Digital’s rights statements', 'https://oregondigital.org/copyright?locale=en', target:'_blank' %>.</p>
