.collapsable-actions {
  margin-bottom: 5px;
}

.flex-list {
  position: relative;
  margin: 1em;
  overflow: hidden;
}
.flex-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.flex-list li {
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  text-align: center;
  border-left: 2px solid #ccc;
  list-style: none;
}
.flex-list li:first-child {
  border-left: none;
}