.collection-show {
  .hyc-title {
    margin-bottom: 2em;
  }
  .item-count {
    padding-right: 0.5em;
    margin-right: 0.5em;
    margin-left: 1em;
  }

  @media (min-width: $screen-sm) {
    .share-links {
      top: -2.5em;
    }
  }
}

.hyc-bl-results {
  .masonry.document {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    background: transparent;

    div.thumbnail {
      background: black;
    }
    a:hover {
      img {
        outline: 10px solid black;
        outline-offset:  -10px;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, .35) 0%, rgb(0, 0, 0), rgb(0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, .35) 0%, rgb(0, 0, 0), rgb(0, 0, 0) 100%);
      }
      .hover-over-collection-text {
        display: block;
      }
    }
    a {
      img {
        width: 100%;
      }
      .hover-over-collection-text {
        color: white;
        display: none;
        position: absolute;
        bottom: .5em;
        text-align: left;
        left: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80%;
      }
    }
  }
}
