.collection-header,
.collection-main {
  dl.work-show {
    margin: 0;

    dt, dd {
      text-align: left;
      font-weight: normal;
    }
    dt {
      font-size: 18px;
    }
    dd {
      font-size: 16px;
      margin-left: 5em;
      @media (max-width: breakpoint-min(sm)) {
        grid-column: 1;
        margin: 0;
      }
    }
  }
}

.collection-header {
  padding-top: 3em;

  .hyc-header {
    margin-bottom: 0;
  }
  .hyc-title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1em;
    @media (max-width: breakpoint-min(sm)) {
      display: block;
      padding-top: 1em;

      .item-count {
        margin-left: 0;
      }
      .collection-subtitle {
        display: inline-block;
        padding-top: 1em;
        width: 100%;
      }
    }

    span {
      flex: 0 0 auto;
    }

    h1 {
      font-size: 30px;
    }

    .collection-subtitle{
      min-width: 200px;
    }
  }
  .hyc-desc {
    font-weight: lighter;
  }
  .item-count {
    padding-right: 0.5em;
    margin-right: 0.5em;
    margin-left: 1em;
  }
  .institution-header {
    @media (max-width: breakpoint-min(md)) {
      padding-top: 1em;
    }
  }

  .social-media {
    padding: 0;
    @media (max-width: breakpoint-min(sm)) {
      padding-bottom: 1em;
    }
  }
  .metadata-expand {
    display: block;
    padding-bottom: 1em;

    button {
      &[aria-expanded="false"] > .expanded,
      &[aria-expanded="true"] > .collapsed {
        display: none;
      }
    }

    @media (max-width: breakpoint-min(sm)) {
      display: block;
    }
  }
  .share-links {
    margin-top: 2em;

    .flex-container {
      justify-content: space-between;

      .social-links {
        padding: 1em 0;
      }
    }
    @media (max-width: breakpoint-min(sm)) {
      margin-top: 1em;

      .flex-container {
        display: block;
        .institution-footer {
          text-align: left;
        }
        .social-links {
          display: block;
        }
      }
    }
  }
}

.collection-main,
.advanced-search-form {
  .flex-container {
    gap: 2em;
    justify-content: center;

    .flex-item {
      flex-grow: 0;
      &:first-child, &:last-child {
        flex-grow: 1;
      }
    }
  }

  .collection-search-header {
    margin: 2.5em 0;
  }
  .collection-metadata-header {
    margin-bottom: 2.5em;
  }
}

.hyc-bl-results {
  margin: 2em 0;
}

.hyc-bl-results.hyc-bl-search.hyc-bl-collection #thumbnails {
  padding: 0;

  div.masonry.collection,
  #masonry-sizer {
    padding: 0;
    width: 23%;
    @media (max-width: breakpoint-min(sm)) {
      & {
        width: 48%;
      }
    }
  }
  #masonry-gutter-sizer {
    width: 2%;
  }
  img {
    border-top: unset;
    margin: unset;
    padding: unset;
    width: 100%;
  }
}
