<%= menu.nav_link(bulkrax.importers_path) do %>
  <span class="fa fa-cloud-upload" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('bulkrax.admin.sidebar.importers') %></span>
<% end %>
<%= menu.nav_link(bulkrax.exporters_path) do %>
  <span class="fa fa-cloud-download" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('bulkrax.admin.sidebar.exporters') %></span>
<% end %>
