<div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
