<div class='flex-container'>
  <div class="flex-item flex-divider d-none d-md-flex"><hr class="<%= color %>-hr"></div>
  <% if block_given? %>
    <div class="flex-item flex-divider-content" >
      <%= yield %>
    </div>
  <% end %>
  <div class="flex-item flex-divider d-none d-md-flex"><hr class="<%= color %>-hr"></div>
</div>