<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
        <p><%= t('hyrax.footer.service_html') %></p>
        <p><a href="https://mccallum.github.io/oregon-digital-style-guide/">Style Guide</a></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p class='deployed-version'>
          Oregon Digital <%= "#{OregonDigital::VERSION}-#{ENV.fetch('DEPLOYED_VERSION', 'development')}" %>
        </p>
        <p>Powered by Hyrax <%= Hyrax::VERSION %></p>
        <p><%= t('hyrax.footer.copyright_html') %></p>
      </div>
    </div>
  </div>
</footer>
