<div>
  <video controls="controls" class="video-js vjs-default-skin" style="width:100%" data-setup="{}" controlsList="nodownload" preload="auto">
    <source src="<%= hyrax.download_path(file_set, file: 'mp4') %>" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>
