.panel-heading.collapse-toggle .panel-title:after {
  /* symbol for "collapsed" panels */
  color: grey;
  /* adjust as needed, taken from bootstrap.css */
}
.collapse-toggle.panel-heading {
  cursor: unset;
  padding: 0;
}

.facet-field-heading button {
  font-size: 16px;
  font-weight: 600;
}

.panel-header {
  margin: 0;
  button {
    padding: 10px 15px;
    text-align: left;
    line-height: 1.1;
    white-space: normal;
  }
}

// CUSTOM: Add in custom margin for the new dropdown collapse button
.secondary-facets {
  margin: 5px 0px 5px 0px;
}
