<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    There are reviews that need your attention in Oregon Digital. Please go to:
    <%= @url %> to see which item(s) need your attention.

    - Oregon Digital Support
  </body>
</html>
