---
:concurrency: <%= ENV.fetch('SIDEKIQ_THREADS', 4) %>
:logfile: <%= ENV.fetch('SIDEKIQ_LOG', '/proc/self/fd/1') %>
staging:
  :concurrency: <%= ENV.fetch('SIDEKIQ_THREADS', 4) %>
  :max_retries: <%= ENV.fetch('SIDEKIQ_RETRY_LIMIT', 3) %>
production:
  :concurrency: <%= ENV.fetch('SIDEKIQ_THREADS', 6) %>
  :max_retries: <%= ENV.fetch('SIDEKIQ_RETRY_LIMIT', 3) %>
:queues:
  - notify
  - hyrax_migrator
  - fetch
  - ingest
  - reindex
  - default
