.advanced-search-form {
  h1.advanced {
    margin-bottom: 2em;
  }

  .query-criteria-heading,
  .limit-criteria-heading {
    align-self: center;
    margin: 0;

    label {
      margin: 0;
    }
  }

  select {
    border: 3px solid $brand-primary;
    padding: .25em;
    padding-right: .75em;

    /* Remove browser carrot & replace with thicker svg */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cjxzdmcgdmlld0JveD0iMCAwIDE5IDE0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogIDxwYXRoIGQ9Ik05LjUgMTEuNjVsLTgtOCAyLjEtMi4yIDUuOSA1LjkgNS45LTUuOSAyLjEgMi4yeiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
    background-size: 0.5em;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
  }
}