.advanced-search-form {
  h1.advanced {
    margin-bottom: 2em;
  }

  .query-criteria,
  .limit-criteria {
    .flex-container {
      height: 2.25em;
    }
  }

  .limit-criteria {
    margin-bottom: 1.5em;
  }

  .query-criteria-heading,
  .limit-criteria-heading {
    align-self: center;
    margin: 0;

    label {
      margin: 0;
    }
  }

  #advanced_search {
    margin-top: 2em;

    .advanced-search-field {
      margin: 1.5em -1em;
    }
  }

  .advanced-search-facet {
    color: #6a6a6a;

    .chosen-choices {
      background-color: white;
      border: 2px solid #073C5C;
      border-radius: 0;
      padding: .75em 1em;
      font-size: 1em;
      height: 100%;

      li.search-choice {
        border: none;
        border-radius: 0;
        background-color: unset;
        background-image: none;
        background-size: unset;
        background-repeat: unset;
        background-clip: unset;
        line-height: unset;
        color: $dark-grey;
        font-size: 12pt;
        font-style: italic;
      }
    }
  }

  select {
    border: 3px solid $brand-primary;
    padding: .25em;
    padding-right: .75em;

    /* Remove browser carrot & replace with thicker svg */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cjxzdmcgdmlld0JveD0iMCAwIDE5IDE0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogIDxwYXRoIGQ9Ik05LjUgMTEuNjVsLTgtOCAyLjEtMi4yIDUuOSA1LjkgNS45LTUuOSAyLjEgMi4yeiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
    background-color: $very-light-grey;
    background-size: 0.5em;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
  }

  form {
    label {
      margin-bottom: .25em;
    }

    input {
      background-color: white;
      border: 2px solid #073C5C;
      border-radius: 0;
      padding: .75em 1em;
      font-size: 1em;
      height: 100%;
    }
  }

  .advanced-help {
    list-style: none;
    line-height: 2em;
    padding: 0;
  }

  .advanced-search-inputs {
    margin-bottom: 2em;

    .limit_input {
      padding: 2em 0;
    }
  }
}