.breadcrumb li::before {
  border: none;
  content: '<';
  height: 1em;
  margin: 0 0.5em;
  transform: unset;
}
.breadcrumb li + ::before {
  margin-left: 2em;
}

.breadcrumb {
  background: none;
  border: none;
  margin-bottom: 0;
  padding: 1em 0;
}

// Dashboard nav needs to act like main content
// .sidebar {
//   &.maximized + div nav.breadcrumb {
//     padding-left: $drawer-large + $gutter-width;
//   }
//   & + div nav.breadcrumb {
//     margin-left: 0;
//     padding-left: $drawer-small + $gutter-width;
//   }
// }