button.link,
input.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: $link-color;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

.button {
  padding: 10px 35px !important;
  max-width: 250px;
  min-width: 125px;
}

.btn {
  border-radius: 0 !important;
  border: 3px solid transparent;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.btn-primary{
    &:hover,
    &:focus {
      background: $black;
      color: $white;
    }
  }

  &.btn-link.remove {
    color: #c84c48;
  }

  &.btn-outline {
    background: unset;
    border-radius: 0 !important;
    border: 3px solid $brand-primary;
    color: $brand-primary;
    margin: 0 5px;
    &:hover,
    &:focus {
      background: unset;
      border-color: $black;
      color: $black;
    }
  }
}
.btn-lg {
  padding: 16px 24px;
  font-size: 18px;
  line-height: 1.3333333 !important;
}

/* Reset input-group button size so text shows */
.input-group-btn > .btn {
  font-size: 14px;
}

.btn-default {
  color: $brand-primary;
  border: 3px solid $brand-primary;
}

/* increase checkbox size */
input[type=checkbox] {
  transform: scale(1.5);
}

.caret-dropdown::after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: $black;
  font-size: 0.8em;
  line-height: normal;
  padding-top: .25em;
  padding: .25em 0 0 0.5em;
}
#download-button {
  .caret-dropdown::after {
    color: $white;
  }
}

.tab-padding {
  padding-left: 5px;
  padding-right: 5px;
}