.button {
  padding: 10px 35px !important;
  max-width: 250px;
  min-width: 125px;
}

.btn {
  border-radius: 0 !important;
  border: 3px solid transparent;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

  &.btn-primary{
    &:hover,
    &:focus {
      background: $black;
      color: $white;
    }
  }

  &.btn-outline {
    background: unset;
    border-radius: 0 !important;
    border: 3px solid $brand-primary;
    color: $brand-primary;
    margin: 0 5px;
    &:hover,
    &:focus {
      background: unset;
      border-color: $black;
      color: $black;
    }
  }
}
.btn-lg {
  padding: 16px 24px;
  font-size: 18px;
  line-height: 1.3333333 !important;
}

/* Reset input-group button size so text shows */
.input-group-btn > .btn {
  font-size: 14px;
}

.btn-default {
  color: $brand-primary;
  border: 3px solid $brand-primary;
}

/* increase checkbox size */
input[type=checkbox] {
  transform: scale(1.5);
}