.button {
  padding: 10px 35px !important;
  max-width: 250px;
  min-width: 125px;
}

.btn-outline {
  border-radius: 0 !important;
  border: 3px solid $brand-primary;
  margin: 0 5px;
}

.btn {
  border-radius: 0 !important;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-lg {
  padding: 16px 24px;
}

/* Reset input-group button size so text shows */
.input-group-btn > .btn {
  font-size: 14px;
}
