.file-sets {
    height: auto;
    overflow-x: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .thumbnail-block {
        width: 140px;
        img {
            height: 70px;
        }
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}

.copy-input-fileset {
  width: 215px;
}

.centered-socials {
    margin-top: -5px;
}