.related-files {
  height: auto;
  overflow-x: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .thumbnail.file_set.attributes {

      text-overflow: ellipsis;
      overflow-x: hidden;

  }
}
