.cc-window {
  transition: none;
}

.osu-logo {
  height: 40%;
  width: 40%;
}

.uo-logo {
  height: 50%;
  width: 50%;
  margin-left: 10px;
}

.site-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.homepage-info-text {
  color: white;
}

.footer-link-text {
  color: white;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: lightblue;
  }
}

.social-logo {
  max-height: 10%;
  max-width: 10%;
}

.right-border {
  border-right: 2px solid white;
  margin-right: 3px;
  padding-right: 6px;
}

.center-text {
  text-align: center;
}

body {
  margin-bottom: 0;
}

a.toc-link {
  font: Lato !important;
  color: #073c5c !important;
  font-size: 14px !important;
  padding: 2px !important;
}

#form-progress {
  margin-bottom: 0px;
}