.cc-window {
  transition: none;

  &.cc-invisible {
    transition: opacity 1s ease;
  }
}

.osu-logo {
  height: 50%;
  width: 45%;
}

.uo-logo {
  height: 50%;
  width: 45%;
  margin-left: 10px;
}

@media (max-width: breakpoint-min(lg)) {

  .osu-logo,
  .uo-logo {
    display: block;
    margin: .5em auto;
    width: 25%;
  }
}

.site-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-grey;

  p {
    margin: 0 0 10px;
  }

  @media (max-width: breakpoint-min(lg)) {
    .row {
      display: block;
    }

    .col-md-1,
    .col-md-2,
    .horizontal-sm,
    .col-md-4 {
      max-width: 100%;
      flex: max-content;
    }
  }
}

.homepage-info-text {
  color: white;
}

.footer-link-text {
  color: white;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: lightblue;
  }
}

.social-logo {
  max-height: 10%;
  max-width: 10%;
}

.right-border {
  border-right: 2px solid white;
  margin-right: 3px;
  padding-right: 6px;
}

.center-text {
  text-align: center;
}

body {
  margin-bottom: 0;
}

a.toc-link {
  font: Lato !important;
  color: #073c5c !important;
  font-size: 14px !important;
  padding: 2px !important;
}

#form-progress {
  margin-bottom: 0px;
}

.left-border {
  border-left: $lime-green 2px solid;
  height: fit-content;

  @media (max-width: breakpoint-min(lg)) {
    & {
      text-align: center;
      border: none;
    }
  }
}

@media (max-width: breakpoint-min(lg)) {
  .horizontal-sm {
    width: 4em;
    border-bottom: $lime-green 2px solid;
    margin: 1.5em auto;
  }
}

.right-align {
  text-align: right;

  @media (max-width: breakpoint-min(lg)) {
    & {
      text-align: center;
    }
  }
}

.padding-row {
  height: 30px;
}