header {
  &.header {
    padding-bottom: 3em;
    letter-spacing: 1px;
  }
  .navbar + .navbar,
  .navbar + .image-masthead {
    // Move searchbar back down
    margin-top: 0;
  }
  .navbar-toggle {
    &:focus {
      outline: revert;
    }
    .icon-bar {
      background-color: $navy-blue;
    }
  }
  .navbar-header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .navbar-header:before {
    display: unset;
    content: unset;
  }

  a#logo {
    display: flex;
    height: 100%;
    padding: 0;

    .logo {
      grid-column: 1;
    }
    .institution_name {
      grid-column: 2;
      line-height: 1em;
      font-weight: 600;
      padding-left: .25em;
      margin-bottom: 0;

      .application-title {
        color: $navy-blue;
        letter-spacing: 0;
        line-height: 64px;
        margin: 0;
      }

      .tagline {
        color: $dark-grey;
        font-size: 14px;
        letter-spacing: 3px;
        position: relative;
        text-transform: uppercase;
        top: -.5em;
      }
    }
  }

  .navbar .btn {
    padding: 10px 24px;
    margin-right: 16px;
  }

  ul.nav {
    text-transform: uppercase;

    a.explore-collections {
      font-weight: 700;
    }
    & > li:nth-child(2) {
      padding: 0 2em;
    }
    form {
      a.advanced-link {
        font-size: .75em;
        font-weight: 700;
        padding: 0;

        @media (min-width: $screen-sm-min) {
          & {
            float: right;
          }
        }
      }
      .input-group {
        margin: auto;

        button {
          position: absolute;
          left: 0;
          z-index: 10;
          background: unset;
          border: unset;
          width: 2.25em;
          height: calc(100% - 16px);
          margin-top: 8px;
          margin-bottom: 8px;
          border-right: 1px solid $light-grey;
        }
        input {
          background-color: $very-light-grey;
          border-radius: 0;
          padding-left: 2.5em;
          font-size: 1.25em;
          height: 100%;
        }
      }
    }
  }

  #masthead {
    box-shadow: 0 0 5px $light-grey;
    border: solid $light-grey;
    border-width: 0 0 5px 0;
    padding: 1em 2em;
    @media (max-width: $screen-sm-min) {
      & {
        padding: .5em;
      }
    }
  }

  #top-navbar-collapse {
    letter-spacing: 2px;
  }
}

body.dashboard {
  padding: 0;

  header #masthead {
    position: relative;
  }
}