// Fix bug in Bootstrap where dropdowns before buttons always have rounded edges
.input-group-btn:last-child > .btn:not(:last-child),
.input-group-btn:last-child > .facets-toggle:not(:last-child),
td.toggle .input-group-btn:last-child > input[type=submit]:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.image-masthead {
  // Remove controls background color
  background-color: black;
  .navbar {
    background: none;
    padding-bottom: 5em;
  }
}
#masthead {
  background-color: white;
  font-size: 1.25em;
  li {
    min-width: 55px;
    a .university-login {
      color: white;
    }
  }
  .osu-login {
    background-color: #d93c02;
  }
  .uo-login {
    background-color: #0d4530;
  }
}
.background-container-overlay {
  background: rgba(255, 255, 255, .3);
}

#preface {
  div:last-child {
    text-align: center;
    a {
      width: 165px;
      margin-bottom: 0.5em;
    }
  }
  padding: 5em 0;
}
#preface,
#collections,
#items {
  padding-bottom: 5em;
}
#collections,
#items {
  font-size: 1.5em;
}

body {
  background-color: white;
}

.searchbar-buttons {
  a {
    color: black;
    margin-left: 10px;
  }
  white-space: nowrap;
  overflow: hidden;
}

.text-shadow {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
}

.homepage-box {
  background-color: #f6f5ff;
  margin-right: 10px;
  text-align: center;
  height: 100%;
  color: black;
}
.osu-box .homepage-box {
  background-color: #D73F09;
  color: white;
  a {
    color: white;
  }
}
.uo-box .homepage-box {
  background-color: #036936;
  color: white;
  a {
    color: white;
  }
}
.fixed-box .homepage-box {
  background-color: #690336;
  color: white;
  a {
    color: white;
  }
}

.fit-to-box {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.shrink-picture {
  height: 85%;
  width: 85%;
}

.no-background {
  background: none;
}
