.resource-type {
  margin-bottom: 20px;
}

.my-shelf-button {
  margin-top: 15px;
}

em {
    background-color: #e2edfe;
}

.select-button {
  border-right: 1px solid grey;
  border-top: 0px solid grey;
  border-left: 0px solid grey;
  border-bottom: 0px solid grey;
  margin-left: -15px;

}

.deselect-button {
  border-right: 0px solid grey;
  border-top: 0px solid grey;
  border-left: 0px solid grey;
  border-bottom: 0px solid grey;
}

.thumbnail > a > .img-thumbnail {
  border: none;
}

.document.col {
  .thumbnail {
    padding-bottom: 20px;
  }
}