#appliedParams{
  background-color: unset;
  border-bottom: 1em solid $very-light-grey;
  margin-bottom: 2em;
}

.view-type .btn-default {
  border-radius: 5px !important;
  border: none;
  box-shadow: none;
  &.active {
    color: white;
    background-color: $dark-orange;
  }
}

.appliedFilter {
  background-color: $very-light-grey;
  padding-left: 1em;
  padding-right: 1em;

  .constraint-value,
  .constraint-value:hover,
  .constraint-value:active {
    background-color: unset;
    padding-right: 1em;
  }
}

#sortAndPerPage {
  .search-widgets {
    .btn {
      background-color: $very-light-grey;
    }
  }

  #sort-dropdown,
  #per_page-dropdown {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;

    .btn-group {
      margin-left: 1em;
    }
  }
}


.result-count {
  font-size: 18px;
  font-style: italic;
  height: 54px;
}

#facets {
  background-color: $very-light-grey;

  .panel.facet_limit {
    margin-left: 1em;
    margin-right: 1em;
    background: none;
    border: 2px solid $navy-blue;
    border-radius: 0;

    .panel-heading {
      background: none;;
    }
    .panel-body {
      background-color: white;
    }
  }

  .facets-heading {
    color: $black;
    font-size: 22px;
    letter-spacing: unset;
    text-transform: unset;
    i.fa-filter {
      font-size: 1.25em;
      padding-right: .25em;
    }
  }
  h3 {
    font-size: 16px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
}

.search-result-wrapper {
  border-bottom: 1px solid $very-light-grey;

  img {
    max-width: 120px; // Set to longest side of thumbnails
  }

  .metadata-row .fa {
    filter: contrast(0%);
    width: 1.5em;
  }

  .search-results-title-row .search-result-title {
    display: inline-block;
    margin: 0;
  }
  .search-results-title-row .label {
    margin-left: 15px;
  }
}

.metadata-row {
  margin-bottom: 5px;
}
.parent-child-list {
  display: inline;
  vertical-align: top;
  ul {
    display: inline-block;
  }
}

.my-shelf-button {
  margin-top: 15px;
}

em {
    background-color: #e2edfe;
}

.select-button {
  background: none;
  border-right: 1px solid $very-light-grey;
  border-top: 0px solid $very-light-grey;
  border-left: 0px solid $very-light-grey;
  border-bottom: 0px solid $very-light-grey;
  padding-left: 0;
}
.deselect-button {
  background: none;
  border-right: 0px solid $very-light-grey;
  border-top: 0px solid $very-light-grey;
  border-left: 0px solid $very-light-grey;
  border-bottom: 0px solid $very-light-grey;
}

.thumbnail > a > .img-thumbnail {
  border: none;
}

.document.col {
  .thumbnail {
    padding-bottom: 20px;
  }
}

div.pagination {
  display: flex;
  justify-content: center;
}
ul.pagination li {
  &.active span {
    background-color: $dark-orange;
    border: none;
  }
  &.next span,
  &.next a,
  &.previous span,
  &.previous a {
    background: none;
  }

  a,
  span {
    background-color: $very-light-grey;
    border: none;
    margin-left: .5em;
    margin-right: .5em;
  }
}

/* Masonry specific */
.hyc-bl-results.hyc-bl-search {
  .masonry.document {
    div.thumbnail {
      background: none;
    }
    a {
      text-align: left;
      h3 {
        color: $navy-blue;
        margin-top: .5em;
      }
    }
  }
}