#appliedParams{
  background-color: unset;
  border-bottom: 1em solid $very-light-grey;
  margin-bottom: 2em;
}

.view-type .btn-default {
  border-radius: 5px !important;
  border: none;
  box-shadow: none;
  &.active {
    color: white;
    background-color: $dark-orange;
  }
}

.appliedFilter {
  background-color: $very-light-grey;
  padding-left: 1em;
  padding-right: 1em;

  .constraint-value,
  .constraint-value:hover,
  .constraint-value:active {
    background-color: unset;
    padding-right: 1em;
  }
}

.search-widgets {
  display: inline-block;
}

#sort-dropdown,
#per_page-dropdown {
  margin-right: 1em;
  margin-left: 1em;
}

.search-result-wrapper {
  .metadata-row .fa {
    filter: contrast(0%);
    width: 1.5em;
  }

  .search-results-title-row .search-result-title {
    margin: 0;
  }
}

.metadata-row {
  margin-bottom: 5px;
}
.parent-child-list {
  display: inline;
  vertical-align: top;
  ul {
    display: inline-block;
  }
}

.my-shelf-button {
  margin-top: 15px;
}

em {
    background-color: #e2edfe;
}

.select-button {
  border-right: 1px solid $very-light-grey;
  border-top: 0px solid $very-light-grey;
  border-left: 0px solid $very-light-grey;
  border-bottom: 0px solid $very-light-grey;
  margin-left: -15px;

}

.deselect-button {
  border-right: 0px solid $very-light-grey;
  border-top: 0px solid $very-light-grey;
  border-left: 0px solid $very-light-grey;
  border-bottom: 0px solid $very-light-grey;
}

.thumbnail > a > .img-thumbnail {
  border: none;
}

.document.col {
  .thumbnail {
    padding-bottom: 20px;
  }
}