ul.center-auth-links {
  list-style-type: none;

  li {
    padding: 0.4em 0
  }
}

.devise-form {
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 3em;

  input:not([type=button]):not([type=submit]) {
    background-color: $very-light-grey;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $dark-grey;
    padding: .5em;

    &:active,
    &:focus {
      background-color: $light-grey;
      border-color: $dark-orange;
      border-bottom-width: 2px;
    }
  }

  input[type=button],
  input[type=submit] {
    padding: .75em 1.5em;
  }
}