.related-files {
  .thumbnail {
    margin: auto;
    max-width: 150px;
    width: auto;
  }
}

#copyright-work-show.copyright-header {
  margin-top: 25px;
}

.edit-button-sections {
  margin-top: 25px;
}