.related-files {
  .thumbnail {
    margin: auto;
    max-width: 150px;
    width: auto;
  }
}
table.table-scrollable {
  @media (max-width: $screen-sm-min) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%
  }
}

.oembed-widget {
  text-align: center;
}

#copyright-work-show.copyright-header {
  margin-top: 25px;
}

.delete-button-show-page {
  margin-left: 30px;
}

.show-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .edit-button-sections {
    margin-top: 25px;
    margin-left: 1.5em;
  }
}

.collection-info {
  font-size: 18px;

  .collection-title {
    margin: 0 0 10px;
  }
  .collection-data a:last-child {
    border-left: 3px solid $light-grey;
    padding-left: 1em;
    margin-left: 1em;
    font-weight: bold;
  }
}

dl.work-show {
  display: grid;
  grid-template: auto / max-content auto;
  column-gap: 1em;
  overflow-wrap: anywhere;

  dt {
    grid-column: 1;
  }
  dd {
    grid-column: 2;
    ul {
      padding: 0;
    }
  }
  dt, dd {
    padding: 0;
    line-height: 1.5;
  }
  li a.metadata-superscript {
    border-bottom: none;
    margin-left: .25em;
  }
}

.columns {
  column-count: 2;
  column-gap: 2em;
  margin-bottom: 20px;

  @media (max-width: $screen-sm-min) {
    & {
      display: block;
      column-count: 1;
    }
    dd {
      margin-left: 0;
    }
  }
}

.social-media {
  padding: 1em 0;
}

.work-type {
  ul.nav-tabs {
    padding: 0 2em;

    li {
      &.active button {
        color: #555555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-color: transparent;

        &:hover,
        &:focus {
          color: #555555;
          cursor: default;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }
      }

      button {
        margin-right: 2px;
        line-height: 1.428571429;
        border: 1px solid transparent;

        position: relative;
        display: block;
        padding: 10px 15px;
        color: $dark-grey;
        background-color: transparent;

        &:hover,
        &:focus {
          border-color: #eeeeee #eeeeee #ddd;
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
    }
  }
  .h4 {
    margin: 0;
  }
  h2 {
    display: inline;
  }
}

#work-show-file-sets {
  .file-set-title {
    width: 80%;
    align-items: center;
  }
  .file-set-manager {
    justify-content: flex-end;
    width: 20%;
    text-align: start;
  }
}
