.related-files {
  .thumbnail {
    margin: auto;
    max-width: 150px;
    width: auto;
  }
}

table.table-scrollable {
  @media (max-width: $screen-sm-min) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%
  }
}

.panel-workflow {
  .panel-heading {
    background-color: $contrast-orange;

    a {
      color: $navy-blue;
    }
  }
}

.oembed-widget {
  text-align: center;
}

#copyright-work-show.copyright-header {
  margin-top: 25px;
}

.delete-button-show-page {
  margin-left: 30px;
  background-color: #E88F2A;
}

.show-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .edit-button-sections {
    margin-top: 25px;
    margin-left: 1.5em;
  }
}

.collection-header.collection-info {
  padding-top: 1.5em;
  padding-bottom: 1em;

  .collection-title {
    margin: 0 0 10px;
  }

  .collection-data a:last-child {
    border-left: 3px solid $light-grey;
    padding-left: 1em;
    margin-left: 1em;
    font-weight: bold;
  }
}

dl.work-show {
  display: grid;
  grid-template: auto / max-content auto max-content auto;
  column-gap: 1em;
  overflow-wrap: anywhere;

  @media (max-width: $screen-sm-min) {
    grid-template: auto / max-content auto;
  }

  dd {
    ul {
      padding: 0;
    }
  }

  dt,
  dd {
    padding: 0;
    line-height: 1.5;
    margin-left: 0px
  }

  li a.metadata-superscript {
    border-bottom: none;
    margin-left: .25em;
  }
}

.columns {
  column-count: 2;
  column-gap: 2em;
  margin-bottom: 20px;

  @media (max-width: $screen-sm-min) {
    & {
      display: block;
      column-count: 1;
    }

    dd {
      margin-left: 0;
    }
  }
}

.social-media {
  padding: 14px 0;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    // border: ;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    height: 38px;
  }

  button {
    margin-top: -4px;
  }
}

.work-type {
  div.tab-content {
    margin-bottom: 5em;

    .form-tab-content {
      margin: 0;
    }
  }

  ul.nav-tabs {
    padding: 0 2em;
    margin-bottom: 15px;

    li {
      &.active a {
        color: #555555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-color: transparent;

        &:hover,
        &:focus {
          color: #555555;
          cursor: default;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }

        @media (max-width: 722px) {

          &,
          &:hover,
          &:focus {
            border-color: #ddd;
            background-color: $very-light-grey;

            span {
              color: $black;
            }
          }
        }
      }

      a {
        margin-right: 2px;
        line-height: 1.428571429;
        border: 1px solid transparent;

        position: relative;
        display: block;
        padding: 10px 15px;
        color: $dark-grey;
        background-color: transparent;

        &:hover,
        &:focus {
          border-color: #eeeeee #eeeeee #ddd;
          text-decoration: none;
          background-color: #eeeeee;
        }
      }

      @media (max-width: $screen-sm-min) {
        float: none;
        display: flex;

        a {
          height: 100%;
        }
      }

      @media (max-width: 722px) {
        flex-basis: 50%;
      }
    }
  }

  .h4 {
    margin: 0;
  }

  h2 {
    display: inline;
  }
}

#work-show-file-sets {
  .file-set-title {
    width: 80%;
    align-items: center;
  }

  .file-set-manager {
    justify-content: flex-end;
    width: 20%;
    text-align: start;
  }
}

.copy-input {
  height: 35px;
  width: 325px;
}

.social-buttons {
  margin-top: 10px;
}

.copy-button {
  margin-top: 14px;
}

.contact-submit {
  margin: 1em 0;
}

#stats.btn-default {
  margin-top: 25px;
  margin-left: 1.5em;
}

#work-show-tablist {
  @media (max-width: $screen-sm-min) {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
  }
}
.align-button {
  width: 134%;
  margin-left: -3px;
}

.add-to-align {
  width: 109%;
  margin-left: 7px;
}

.print-button {
  margin-right: -7px;
}

.no-left-padding {
  padding-left: 0px;
}

.right-padded {
  padding-right: 8px;
}

.attach-caret-dropdown::after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: $black;
  font-size: 0.8em;
  line-height: normal;
  padding-top: .25em;
  padding: .25em 0 0 0.5em;
  color: $white;
}

.padded-right {
  padding-right: 45px;
}

.analytics-button {
  margin-top: 5px !important;
  width: 35%;
}

.card-title {
  color: $white;
}

.workflow-actions-button {
  width: 100%;
  background-color:#E88F2A;
}

  /* Add the blur effect */
.blurred-image {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  pointer-events: none;

}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bg-collection {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

// Display for button and text in the content mask
.button-text-mask {
  color: white;
  font-weight: bold;
  position: absolute;

  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 10px;
  text-align: center;
}