@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
span {
  text-decoration: inherit;
}

.collection-title {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  text-decoration: inherit;
  display: block;
}
h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 22px;
  letter-spacing: 3.5px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
  letter-spacing: 2.5px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 14px;
  letter-spacing: 2px;
}
h2, h4, h6,
.h2, .h4, .h6 {
  color: $dark-grey;
  text-transform: uppercase;
}
h1, h3, h5,
.h1, .h3, .h5 {
  color: $black;
  text-transform: unset;
  letter-spacing: unset;
}
table {
  caption {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      display: table-caption;
      width: 100%;
    }
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    display: table-cell;
  }
}

// Merriweather fonts
.mw {
  font-family: Merriweather;
}
.mw-sm {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 16px;

  a, button.btn-link {
    border-bottom: 1px $light-orange solid;
    padding-bottom: 2px;
  }
}
.mw-lg {
  font-family: Merriweather;
  font-style: normal;
  font-size: 18px;

  a, button.btn-link {
    border-bottom: 1px $light-orange solid;
    padding-bottom: 2px;
  }
}
.mw-lg-b {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 18px;

  a {
    border-bottom: 2px $light-orange solid;
    padding-bottom: 2px;
  }
}

.lato-p {
  font-size: 16px;

  a, button.btn-link {
    border-bottom: 1px $light-orange solid;
    padding-bottom: 2px;
  }
}
.lato-b {
  font-weight: bold;

  a, button.btn-link {
    border-bottom: 2px $light-orange solid;
    padding-bottom: 2px;
  }
}

.font-sm {
  font-size: 16px;
}
.font-lg {
  font-size: 18px;
}

.navy-blue {
  color: $navy-blue;
}
.very-light-grey {
  color: $very-light-grey;
}
.light-grey {
  color: $light-grey;
}
.medium-grey {
  color: $medium-grey;
}
.dark-grey {
  color: $dark-grey;
}
.white {
  color: $white;
}
.black {
  color: $black;
}

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

button.btn-link {
  border: 0;
  padding: 0;
}

a, button.btn-link {
  &.mw-sm,
  &.mw-lg,
  &.lato-p {
    border-bottom: 1px $light-orange solid;
    padding-bottom: 2px;
  }
  &.mw-lg-b,
  &.lato-b {
    border-bottom: 2px $light-orange solid;
    padding-bottom: 2px;
  }
}

dt {
  font-weight: normal;
  font-size: 14px;
}

dl.work-show > dt {
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
}

dl.work-show > dd {
  font-family: Lato;
  font-size: 18px;
}