.single-value-input {
  list-style: none;
}

.btn-danger {
  background-color: #cc0600;
}

.label.label-info.required-tag {
  color: $black;
}

.collection-list form.button_to {
  display: inline;
}

.small-font-size {
  font-size: 13px;
}

.file_set_oembed_url {
  width: 100%;

  input#file_set_oembed_url {
    width: 100%;
  }
}

.form-group > label {
  font-weight: bold;
}