.single-value-input {
  list-style: none;
}

.btn-danger {
  background-color: #cc0600;
}

.label.label-info.required-tag {
  color: $black;
}

.collection-list form.button_to {
  display: inline;
}

.small-font-size {
  font-size: 13px;
}

.file_set_oembed_url {
  width: 100%;

  input#file_set_oembed_url {
    width: 100%;
  }
}

.accessibility-copy-form {
    background-color: white;
    border: 2px solid #073C5C;
    border-radius: 0;
    padding: .75em 1em;
    font-size: 1.25em;
    height: 100%;
    margin-bottom: 20px;
}