<p>Thank you for contacting Oregon Digital.</p>

<p>We received a question from you about <%= @contact_form.subject %>.</p>

<p>You indicated that there was an issue related to <%= @contact_form.category %>.</p>

<p>Your issue was: <%= @contact_form.message %></p>

<p>Someone from the Oregon Digital team will reach out to you with an answer soon.</p>

<p>If you didn't make this request, please ignore this email, or contact us at oregondigitalref@uoregon.edu</p>
<p>
Thank you,
<br>The Oregon Digital Team
</p>