<p>Thank you for contacting Oregon Digital.</p>
<p>We received a question from you about <%= @contact_form.subject %>.</p>

<p><%= @contact_form.category %></p>
<p><%= @contact_form.message %></p>

<p>Someone from the Oregon Digital Team will reach out to your with an answer within 1024 business days.</p>

<p>If you didn’t make this request, please ignore this email, or contact us at oregondigital@uoregon.edu</p>

<p>
  Thank you,<br>
  The Oregon Digital Team
</p>
