<p>Thank you for contacting Oregon Digital. Please find a copy of your form submission below.</p>
<p>Someone from Oregon Digital will be in contact with your soon.</p>

<p><%= @contact_form.category %></p>
<p><%= @contact_form.message %></p>
