<% # container for all documents in index view -%>
<div class="row hyc-bl-results hyc-bl-search col-xs-12">
  <% documents.in_groups_of(4, false).each do |docs| %>
  <div class="row box-row">
    <%= render collection: docs, as: :document, partial: 'index_gallery', locals: {count: documents.count} %>
  </div>
  <% end %>
</div>