<table id="documents-table" class="table-hover">
  <thead>
    <tr>
      <th class="h4">Collection Name</th>
      <th class="h4">Institution</th>
      <th class="h4">Items</th>
    </tr>
  </thead>
  <tbody>
    <%= render collection: documents, as: :document, partial: 'index_table', locals: {count: documents.count} %>
  </tbody>
</table>
