<div class="search-results-title-row">
  <% if document.has_highlight_field?('title_tesim') %>
    <h4 class="search-result-title"><%= link_to document.highlight_field('title_tesim').first, document %></h4>
  <% else %>
    <h4 class="search-result-title"><%= link_to document.title_or_label.truncate_words(10), document %></h4>
  <% end %>
</div>
