<div class="search-results-title-row">
  <h4 class="search-result-title"><%= link_to document.title_or_label.truncate_words(10), document %></h4>
  <%= label_tag "" do %>
    <% raw("#{check_box_tag document.id} Add to My Shelf") %>
  <% end %>
</div>
