<div class="search-results-title-row col-sm-9 col-md-7 col-lg-7 float-left">
  <% if document.has_highlight_field?('title_tesim') %>
    <h3 class="search-result-title"><%= link_to document.highlight_field('title_tesim').first, Rails.application.routes.url_helpers.polymorphic_path(document) %></h3>
  <% else %>
    <h3 class="search-result-title"><%= link_to document.title_or_label.truncate_words(10), Rails.application.routes.url_helpers.polymorphic_path(document) %></h3>
  <% end %>
</div>
