<% institution = OregonDigital::InstitutionPicker.institution_acronym(document) %>
<tr>
  <td>
    <b><%= link_to(document.title_or_label, url_for_document(document), document_link_params(document, :counter => document_counter_with_offset(document_counter))) %></b>
  </td>
  <td>
    <%= !institution.empty? ? institution : t('oregon_digital.explore_collections.list.row.institution.default') %>
  </td>
  <td>
    <%= controller.total_viewable_items(document.id) %>
  </td>
</tr>