<div class="search-results-title-row col-9 col-md-7 col-lg-7 float-left d-flex align-items-center">
  <% if document.has_highlight_field?('title_tesim') %>
    <h3 class="search-result-title"><%= link_to document.highlight_field('title_tesim').first, [hyrax, document] %></h3>
  <% else %>
    <h3 class="search-result-title"><%= link_to document.title_or_label.truncate_words(10), [hyrax, document] %></h3>
  <% end %>
  <%= OregonDigital::CollectionPresenter.new(document, current_ability).collection_type_badge %>
</div>
