<% doc_presenter = index_presenter(document) %>

<% unless document['date_combined_year_label_ssim'].nil? %>
  <div class="metadata-row">
    <% date_min = document['date_combined_year_label_ssim'].min %>
    <% date_max = document['date_combined_year_label_ssim'].max %>
    <%= date_min %> <% unless date_min == date_max %> - <%= date_max %> <% end %>
  </div>
<% end %>
