<%# OVERRIDE FROM BLACKLIGHT to add search total to sidebar %>
<div class="h3 result-count mw-lg-b"> <strong>Showing <%= @response.total_count %> works </strong></div>
<%# END OVERRIDE %>
<%= render 'facets' %>