<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="list-thumbnail <%= 'blurred-image' if document.mask_content.include?('Search Results Page') %>">
    <%= link_to url_for_document(document) do %>
      <%= document_presenter(document)&.thumbnail&.thumbnail_tag({alt: document.title_or_label.truncate_words(10)}, { suppress_link: true }) %>
    <% end %>
  </div>
</div>
