<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="list-thumbnail">
    <%= render_thumbnail_tag document, alt: document.title_or_label.truncate_words(10), aria: { label: "thumbnail for #{document.title_or_label}" } %>
  </div>
</div>
