<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="list-thumbnail">
    <%# LINK: Add in a link to collection page on the thumbnail %>
    <%= link_to (render_thumbnail_tag document, alt: document.title_or_label.truncate_words(10), suppress_link: true), Hyrax::Engine.routes.url_helpers.collection_path(document) %>
  </div>
</div>

