<div class="viewer-wrapper">
  <iframe aria-label="image view"
    <% previous_query = URI.parse(request.referer).query unless request.referer.blank? %>
    <% previous_params = CGI.parse(previous_query) unless previous_query.blank? %>
    <% search_term = previous_params&.[]('q[]')&.join(' ') || previous_params&.[]('q') %>
    src="<%= universal_viewer_base_url %>#?manifest=<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>&config=<%= universal_viewer_config_url %>&h=<%= search_term %>"
    allowfullscreen="true"
    frameborder="0"
  ></iframe>
</div>
