<% provide :page_title, construct_page_title(t('.header')) %>

<% provide :page_header do %>
  <h1><span class="fa-regular fa-circle-check"></span> <%= t('.header') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'constraints' %>

    <div class="flex-container row container-fluid">
      <div id="sidebar" class="col-lg-3 col-md-4 order-sm-1">
        <%= render 'search_sidebar' %>
      </div>

      <div id="content" class="col-lg-9 col-md-8 order-sm-2">
        <%= render 'search_results' %>
      </div>
    </div>
  </div>
</div>
