<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p> We’re sorry to see you go! </p>

	<p>Thank you for your interest in Oregon Digital. All personally identifying information will be removed from our system. Aggregate data such as usage history and activity logs are kept for 50 months to help improve website performance. </p>

	<p>If you have any questions, please contact us.</p>

	<p>The Oregon Digital Team</p>
  </body>
</html>