<%# OVERRIDE: Override the original tab to remove the highlighted tab as no longer needed %>
<ul class="nav nav-tabs" id="myTab">
  <li class="nav-link active"><a href="#activity_log"><span class="fa fa-calendar"></span> <%= I18n.t('hyrax.user_profile.tab_activity') %></a></li>
</ul>

<div class="tab-content card-body">
  <%= render 'activity', presenter: presenter %>
</div> <!-- /tab-content -->