<p class="bulkrax-p-align">
  <%= link_to 'Run verification', importer_verify_path(@importer.id) %><br /><br />
  <%= link_to 'Show results', importer_show_errors_path(@importer.id) %><br /><br />
</p>
