<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>OD2: Fetch Failed Notification</h3>
    <p>Hi there, below are the report on the Failed Fetch that ran and below is the results after
       it has finished running with a .txt file attachment / .zip if it is a metadeities.
    </p>
    <br><br>
    <p> - OD2 Support </p>
    <p>Email Date & Time: <%= Time.now.strftime("%B %-d, %Y - %l:%M %p") %> </p>
  </body>
</html>
