<% search_page = !@search_state.blank? %>

<nav class="navbar navbar-default navbar-static-top text-shadow" role="navigation" title="Search Bar">
  <div class="container site-title-container">
    <div class="site-title h1" style="text-align: center;">
      <h1><%= t('hyrax.search_the_archives') %></h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-<%= search_page ? 7 : 10 %> col-sm-offset-1 col-md-5 col-md-offset-4">
        <ul class="nav navbar-nav navbar-right homepage-nav">
          <li>
            <%= render 'shared/header_search' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav><!-- /.navbar -->
