<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <%= image_tag('logo.png', height: '86', width: '86', alt: '', class: 'logo') %>
  <span class="institution_name"><%= application_name %><br />
    <span class="tagline"><%= 'University Library Archives' %></span>
  </span>
</a>
