<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <%= image_tag('logo.png', height: '64', width: '64', alt: '', class: 'logo') %>
  <div class="institution_name"><span class="h1 application-title"><%= application_name %></span>
    <span class="tagline d-none d-md-block"><%= 'Unique Cultural Heritage Collections' %></span>
  </div>
</a>
