<!DOCTYPE html>
<html>
  <head>
    <title>OD2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <%= yield %>
  </body>
</html>
