<p>Hello person </p>

<p>We received a request to reset the password for your Oregon Digital account: <%= @resource.email %>. We are here to help!</p>

<p>This link will help you reset your password. <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p></p>
<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>

<p>Thank you,</p>
<p>The Oregon Digital Team</p>
