<% @split_array = Generic::ORDERED_PROPERTIES.in_groups_of(Generic::ORDERED_PROPERTIES.length/2, false)%>
<div class='row'>
  <div class="col-sm-6">
    <% @split_array.first.each do |prop| %>
      <% if prop[:is_controlled] %>
        <% labels=Array(presenter.send(prop[:name].to_sym)) %>
        <% links=Array(presenter.send(prop[:name].to_s.gsub('_label', ''))) %>
        <% @zipped=labels.zip(links) %>
        <% @zipped=Hash[@zipped] %>
        <%= presenter.attribute_to_html(prop[:name].to_sym, render_as: :search_and_external_link, links: @zipped, html_dl: true, label: t("simple_form.labels.defaults.#{prop[:name]}")) %>
      <% else %>
        <%= presenter.attribute_to_html(prop[:name].to_sym, html_dl: true, label: t("simple_form.labels.defaults.#{prop[:name_label].nil? ? prop[:name] : prop[:name_label]}")) %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <% @split_array.second.each do |prop| %>
      <% if prop[:is_controlled] %>
        <% labels=Array(presenter.send(prop[:name].to_sym)) %>
        <% links=Array(presenter.send(prop[:name].to_s.gsub('_label', ''))) %>
        <% @zipped=labels.zip(links) %>
        <% @zipped=Hash[@zipped] %>
        <%= presenter.attribute_to_html(prop[:name].to_sym, render_as: :search_and_external_link, links: @zipped, html_dl: true, label: t("simple_form.labels.defaults.#{prop[:name]}")) %>
      <% else %>
        <%= presenter.attribute_to_html(prop[:name].to_sym, html_dl: true, label: t("simple_form.labels.defaults.#{prop[:name_label].nil? ? prop[:name] : prop[:name_label]}")) %>
      <% end %>
    <% end %>
  </div>
</div>

