<div class="citations">
    <% if Hyrax.config.citations? %>
      <h3><%= t('.header') %></h3>
      <%= export_as_mla_citation(@presenter) %>
      <%= export_as_wiki_citation(@presenter) %>
    <% end %>
</div>
