<div class="citations">
    <% if Hyrax.config.citations? %>
      
      <%= render 'citation_and_copy_button', citation_style: "apa", citation_text: export_as_apa_citation(@presenter) %>
      <%= render 'citation_and_copy_button', citation_style: "mla", citation_text: export_as_mla_citation(@presenter) %>
      <%= render 'citation_and_copy_button', citation_style: "chicago", citation_text: export_as_chicago_citation(@presenter) %>
      <%= render 'citation_and_copy_button', citation_style: "wiki", citation_text: export_as_wiki_citation(@presenter) %>

    <% end %>
</div>
