<table class='table table-striped'>
  <caption class="sr-only">Data Sources</caption>
  <thead>
    <tr>
      <th scope="col">Footer Number</th>
      <th scope="col">Term</th>
      <th scope="col">External URI </th>
    </tr>
  </thead>
  <tbody>
  <% @props.each do |prop| %>
    <% if prop[:is_controlled] %>
        <% zipped = presenter.zipped_values(prop[:name]) %>
        <% zipped.each do |uri, label| %>
        <tr>
          <td> <%= prop[:indices][label] %> </td>
          <th scope="row"> <%= label.is_a?(Array) ? label.first : label %> </th>
          <td> <%= link_to uri, uri %> </td>
        </tr>
        <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
