<table class='table table-striped'>
  <caption class="sr-only">Data Sources</caption>
  <thead>
    <tr>
      <th scope="col">Footer Number</th>
      <th scope="col">Term</th>
      <th scope="col">External URI </th>
    </tr>
  </thead>
  <tbody>
  <% solr_doc = SolrDocument.find(presenter.id) %>
  <% @props.each do |prop| %>
    <% if prop[:is_controlled] %>
        <% parse_values = solr_doc.label_uri_helpers(prop[:name].gsub('_label', '')) %>
        <% parse_values.each do |value| %>
        <tr>
          <td> <%= prop[:indices][value['uri']] %> </td>
          <th scope="row"> <%= !value['label'].empty? ? value['label'] : 'No label found' %> </th>
          <td> <%= link_to value['uri'], value['uri'] %> </td>
        </tr>
        <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
