<ul>
  <li><%= link_to "Files + Metadata (ZIP)", main_app.send(:"download_hyrax_#{@presenter.model_name.name.downcase}_path", @presenter.id) %></li>
  <li><%= link_to "Metadata Only (CSV)", main_app.send(:"metadata_hyrax_#{@presenter.model_name.name.downcase}_path", @presenter.id) %></li>
</ul>
