<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#embedModal">
  Embed
</button>
<!-- Modal -->
<% iframe_src = "#{asset_url("/uv/uv.html")}?manifest=#{@presenter.manifest_url}&config=#{asset_url("/uv/uv-config.json")}" %>

<div class="modal" id="embedModal" tabindex="-1" role="dialog" aria-labelledby="embedModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="embedModalTitle">Embed</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" id="embedText" class="form-control" readonly="readonly" aria-label="embed" value='<iframe src="<%= iframe_src %>" allowfullscreen frameborder="0"></iframe>'>
          <span class="input-group-btn">
            <button class="btn copy-single-use-link" data-clipboard-target="#embedText" data-toggle="tooltip" data-placement="bottom" title="Copied!">Copy embed code</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>