<%# OVERRIDE FROM HYRAX change item table to flexbox %>
<div class="thumbnail <%= dom_class(member) %> attributes">
  <div class="thumbnail-block"
    <%= render_thumbnail_tag member %>
    <br>
    <%= link_to(member.link_name, contextual_path(member, @presenter)) %>
  </div>
  <br>
  <%= render 'actions', member: member %>
</div>
