<%# OVERRIDE FROM HYRAX change item table to flexbox %>
<div class="thumbnail <%= dom_class(member) %> attributes">
  <%= render_thumbnail_tag member %>
  <%= link_to(member.link_name, contextual_path(member, @presenter)) %>
  <br>
  <ul>
    <li><%= link_to "Download Image", download_path(member.id) %></li>
    <li>High Resolution</li>
    <li>Metadata Only (CSV)</li>
  </ul>
</div>
