<div class="thumbnail <%= dom_class(member) %> attributes">
  <%= render_thumbnail_tag member %>
  <%= link_to(member.link_name, contextual_path(member, @presenter)) %>
  <br>
  <%= render 'actions', member: member %>
</div>
