<div class='oembed-widget'>
  <%= content_tag(:div, '',
      data: {
        embed_url:
          Blacklight::Oembed::Engine.routes.url_helpers.embed_path(url: Hyrax.query_service.find_by_alternate_identifier(alternate_identifier: presenter.id, use_valkyrie: false).oembed_url)
      }
    )
  %>
</div>