<div class="col-4 offset-8 offset-lg-0">
  <p class="float-right">
    <% if OregonDigital::InstitutionPicker.institution_acronym(@presenter) == "OSU" %>
      <%= image_tag('osu-collection.png', height: 100, alt: "Work provided by Oregon State University") %>
    <% elsif OregonDigital::InstitutionPicker.institution_acronym(@presenter) == "UO" %>
      <%= image_tag('uo-collection.png', height: 55, alt: "Work provided by University of Oregon") %>
    <% end %>
  </p>
</div>
