<div class="col-sm-4 pull-right">
  <p class="pull-right">
    <% if @presenter.institution.first.to_s.include?("http://id.loc.gov/authorities/names/n80017721") %>
      <%= image_tag('osu-collection.png', height: 75) %>
    <% elsif @presenter.institution.first.to_s.include?("http://id.loc.gov/authorities/names/n80126183") %>
      <%= image_tag('uo-collection.png', height: 75) %>
    <% end %>
  </p>
</div>
