<div class="col-sm-4 pull-right">
  <p class="pull-right">
    <% if OregonDigital::InstitutionPicker.institution_acronym(@presenter) == "OSU" %>
      <%= image_tag('osu-collection.png', height: 100, alt: "Oregon State University") %>
    <% elsif OregonDigital::InstitutionPicker.institution_acronym(@presenter) == "UO" %>
      <%= image_tag('uo-collection.png', height: 55, alt: "University of Oregon") %>
    <% end %>
  </p>
</div>
